h1 {
	background-color: $primary-color;
    color: $white-text;
    padding: 35px 20px;
    margin: 0px 0px 25px 0px;
    display: block;
	text-align: center;
}


/*------------------------------------------------*/
/* MOBILE VERSION (PORTRAIT)                      */
/*------------------------------------------------*/

@include media-screen-portrait(){
	h1 {
		text-align: center;
		color: white;
		background-color: #556468;
		padding: 30px;
		margin: 0;
	}
}

/*------------------------------------------------*/
/* PRINT VERSION                                  */
/*------------------------------------------------*/

@media print {
	h1 {
		background: none;
		color: #000;
		font-size: 2em;
		margin:0;
		padding:0;
	}
}
