/*global reset:*/

*{
	margin:0;
	padding:0;
}

ul, li{
	list-style:none;
}

/*------------------------------------------------*/
/* MOBILE VERSION (PORTRAIT)                      */
/*------------------------------------------------*/

@include media-screen-portrait(){

}

/*------------------------------------------------*/
/* PRINT VERSION                                  */
/*------------------------------------------------*/

@media print {

}