// COLORS
$primary-color:#301849;
$white-text:#F5F5F5;

$text-field-color:#D5E0E2;
$input-color:#e8eeef;
$input-focus-color:#d2d9dd;

$button-color:#D3D3D3;
$button-hover-color:#DBDBDB;
$plusminus-button-color:rgb(73, 36, 112);
$plusminus-button-hover-color:rgb(102, 51, 153);

// FONTS
$input-font-size: 14px;

// MEDIA SCREEN
$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
