body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

#content {
  width: 970px;
  margin: auto;
  padding: auto; }

main, #main {
  margin: 0px 0px 15px 8px; }

h2 {
  margin: 35px 0px 0px 0px; }

.hidden {
  display: none; }

/*div {
	background-color: lightblue;
	border: 1px solid white;
}*/
/*------------------------------------------------*/
/* MOBILE VERSION (PORTRAIT)                      */
/*------------------------------------------------*/
@media only screen and (max-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  body,
  input,
  select,
  button,
  div.attr-name,
  div.attr2-formula,
  div.attr2-name,
  div.attr2-formula,
  div.damage-name,
  div.damage-formula,
  a.tooltip,
  div.tooltip-symbol {
    font-family: 'Open Sans', sans-serif, Georgia, "Times New Roman", Times, serif;
    font-size: 1.8em; }

  h2 {
    margin: 35px 0px 0px 0px; } }
/*------------------------------------------------*/
/* PRINT VERSION                                  */
/*------------------------------------------------*/
@media print {
  body,
  input,
  select,
  option,
  div,
  span,
  p,
  h1,
  h2,
  h3 {
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    background-color: transparent;
    border: none !important;
    box-shadow: none !important; }

  h2 {
    font-size: 1.3em;
    margin: 25px 0 0 0;
    padding: 0; } }
h1 {
  background-color: #301849;
  color: #F5F5F5;
  padding: 35px 20px;
  margin: 0px 0px 25px 0px;
  display: block;
  text-align: center; }

/*------------------------------------------------*/
/* MOBILE VERSION (PORTRAIT)                      */
/*------------------------------------------------*/
@media only screen and (max-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  h1 {
    text-align: center;
    color: white;
    background-color: #556468;
    padding: 30px;
    margin: 0; } }
/*------------------------------------------------*/
/* PRINT VERSION                                  */
/*------------------------------------------------*/
@media print {
  h1 {
    background: none;
    color: #000;
    font-size: 2em;
    margin: 0;
    padding: 0; } }
.headline {
  margin: 15px -15px -14px; }

div.attr-name,
div.attr2-formula,
div.attr2-formula,
div.attr2-name,
div.damage-formula,
div.damage-name {
  width: 100%;
  float: left;
  background-color: #D5E0E2;
  color: #000;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  /*margin: 0px 10px 10px 0px;*/
  outline: 0;
  padding: 7px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0 1px 0 #F8F8F8 inset;
  -webkit-box-shadow: 0 1px 0 #F8F8F8 inset;
  -moz-box-shadow: 0 1px 0 #F8F8F8 inset; }

.spells-second-line {
  margin: -5px 0 20px; }

.tooltip {
  display: inline;
  position: relative;
  color: #96002d; }

.tooltip:hover:after {
  background: #333333;
  border-radius: 3px;
  bottom: 26px;
  color: #fff;
  font-size: 14pt;
  font-weight: normal;
  content: attr(title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 450px;
  white-space: pre-wrap; }

.tooltip-symbol {
  display: inline;
  position: relative;
  margin: 0 0 0 72px; }

div#tooltip1,
div#tooltip2 {
  margin: 0; }

.costs-footer,
.points-head {
  margin: 0 20px;
  font-weight: bold; }

div.cost-total {
  border: 1px solid lightgrey;
  margin: 0;
  width: 100%;
  border-radius: 3px;
  background-color: #E8EEEF;
  text-align: center; }

div.buttonwrap-top {
  margin: 0 0 20px; }

div.buttonwrap {
  margin: 0; }

.hidden-boxes {
  display: none; }

.hidden-stuff {
  display: none; }

.unicorn {
  position: absolute;
  overflow: hidden;
  z-index: 999; }

div.comment-button {
  border: 1px solid black;
  border-radius: 8px;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  float: left; }

.saveload-button-wrapper {
  border: 1px solid #C3C3C3;
  padding: 0 35px;
  margin: 15px 0;
  border-radius: 5px; }

#cost-total-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%; }

.costs-warning {
  position: fixed;
  right: 20px;
  bottom: -3px;
  z-index: 999;
  font-size: 42px;
  font-weight: 600;
  color: #ff0000; }

/*------------------------------------------------*/
/* MOBILE VERSION (PORTRAIT)                      */
/*------------------------------------------------*/
@media only screen and (max-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  div.attr-name,
  div.attr2-formula,
  div.attr2-name {
    width: 90%;
    float: left;
    background-color: rgba(147, 175, 180, 0.4);
    color: black;
    border: none;
    border-radius: 4px;
    margin: 0 10px 10px 0;
    outline: 0;
    padding: 7px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset; }

  div.attr2-formula {
    display: none; }

  .spells-second-line {
    margin: -5px 0 20px; }

  .tooltip {
    display: inline;
    position: relative;
    color: #96002d; }

  .tooltip:hover:after {
    background: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    font-weight: normal;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 450px;
    white-space: pre-wrap; }

  .tooltip-symbol {
    display: none; }

  div#tooltip1,
  div#tooltip2 {
    margin: 0; }

  .costs-footer,
  .points-head {
    margin: 0 20px;
    font-weight: bold; }

  div.cost-total {
    border: 1px solid lightgrey;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    border-radius: 5px;
    background-color: #E8EEEF;
    display: inline-flex;
    font-size: 1.5em; }

  div.buttonwrap-top {
    margin: 10px 0;
    width: 100%;
    text-align: center;
    background-color: rgba(232, 238, 239, 0.43); }

  div.buttonwrap {
    width: auto; }

  #buttonwrap-adv,
  #buttonwrap-disadv,
  #buttonwrap-equip,
  #buttonwrap-perk,
  #buttonwrap-quirk,
  #buttonwrap-skill,
  #buttonwrap-spell {
    margin: 0; }

  .spellwrap {
    display: none;
    font-size: 1.8em; }

  .spellwrap .cost,
  .spellwrap .duration,
  .spellwrap .level,
  .spellwrap .name,
  .spellwrap .spell-type,
  .spellwrap .time,
  .spellwrap button,
  .spellwrap h2 {
    font-size: 1em; }

  .hidden {
    display: inline; }

  .hidden-boxes {
    display: none; }

  .hidden-stuff {
    display: none; }

  #cost-total-footer {
    position: absolute; } }
/*------------------------------------------------*/
/* PRINT VERSION                                  */
/*------------------------------------------------*/
@media print {
  .attr2-formula,
  .attr2-name,
  .attr2-unit,
  div.attr-name,
  div.attr2-formula {
    width: 150px;
    float: left;
    color: black;
    margin: 0 5px 0 0;
    background-color: white;
    padding: 0;
    border: none;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 1px 0 #F8F8F8 inset;
    -webkit-box-shadow: 0 1px 0 #F8F8F8 inset;
    -moz-box-shadow: 0 1px 0 #F8F8F8 inset; }

  .spells-second-line {
    margin: 0 0 20px; }

  .saveload-button-wrapper {
    display: none; }

  #cost-total-footer {
    position: relative; } }
/*sidebar blocks, primary and secondary color blocks*/
button {
  padding: 17px 8px;
  border-radius: 3px;
  cursor: pointer;
  border: none; }

.plusminus {
  background: #492470;
  color: #F1F1F1;
  margin: 0 5px 0 0;
  padding: 0;
  width: 35%;
  height: 25px;
  border-radius: 3px;
  font-size: 1em;
  font-weight: bold;
  float: left; }

.plusminus:hover {
  background: rebeccapurple; }

#spellbutton {
  background-color: #D3D3D3;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 36px;
  font-size: 0.6em;
  font-weight: bold; }

.countbuttons,
.printbuttons,
.setgetbuttons {
  background-color: #D3D3D3;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 45px;
  font-size: 0.9em;
  font-weight: bold; }

#spellbutton:hover,
.countbuttons:hover,
.printbuttons:hover,
.setgetbuttons:hover {
  background: #DBDBDB; }

#unicorn-button {
  position: absolute;
  border: 1px solid #301849;
  color: #301849;
  width: 131px;
  text-align: center;
  border-radius: 3px;
  margin: 0;
  padding: 2px 6px;
  font-weight: bold;
  right: 1%;
  top: 1%;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#unicorn-button:hover {
  border: 1px solid #fff;
  color: #fff; }

label.custom-value {
  width: auto;
  background-color: #492470;
  color: whitesmoke;
  padding: 6px 6px 6px 0;
  margin: 0 0 0 6px;
  border-radius: 3px;
  font-size: 0.9em;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

label.green {
  background-color: lightgreen;
  color: black; }

.saveload-buttons {
  height: 38px;
  padding: 0;
  margin: 0;
  width: 100%; }

input[type="file"] {
  display: inline; }

.toggle-note-button {
  position: absolute;
  line-height: 30px;
  color: #a9a9a9;
  z-index: 999; }

.toggle-note-button:hover {
  cursor: pointer; }

.hide-category-button,
.sort-category-button {
  font-size: 9pt;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
  padding: 0 5px;
  border-radius: 4px;
  margin-left: 15px;
  text-align: center;
  width: initial; }

.hide-category-button:hover,
.sort-category-button:hover {
  cursor: pointer; }

/*------------------------------------------------*/
/* MOBILE VERSION (PORTRAIT)                      */
/*------------------------------------------------*/
@media only screen and (max-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  button.plusminus {
    background-color: lightgrey;
    border: none;
    margin: 10px 0 0;
    padding: 0;
    width: 90px;
    height: 80px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.8em; }

  button#spellbutton {
    background-color: lightgrey;
    border: none;
    margin: 40px 0;
    padding: 0;
    width: 100%;
    height: 136px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em; }

  button.countbuttons,
  button.printbuttons,
  button.setgetbuttons {
    background-color: lightgrey;
    border: none;
    margin: 23px;
    padding: 0;
    width: 370px;
    height: 136px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em; }

  div#unicorn-button {
    display: none; }

  #updateButton,
  #updateButton2 {
    width: 100%;
    margin: 10px 0 0;
    font-size: 1.5em; }

  label.custom-value {
    background-color: #492470;
    color: whitesmoke;
    padding: 0 6px;
    margin: 0;
    font-size: 0.5em; }

  label.green {
    background-color: lightgreen;
    color: black; } }
/*------------------------------------------------*/
/* PRINT VERSION                                  */
/*------------------------------------------------*/
@media print {
  #spellbutton,
  .hide-category-button,
  .plusminus,
  .saveload-buttons,
  .sort-category-button,
  .toggle-note-button,
  .tooltip,
  button,
  div#unicorn-button,
  label.custom-value {
    display: none; } }
/*alerts, progress bars, etc*/
form {
  margin: 0;
  padding: 0;
  display: inline; }

input {
  border-radius: 3px;
  border: none; }

select {
  height: 36px;
  border-radius: 3px; }

input.attr2-level,
input.default,
input.descriptives,
input.equip-name,
input.level,
input.name,
input.saveload-file,
input.time-duration,
input.type {
  background-color: #e8eeef;
  color: #3f3d74;
  font-size: 14px;
  outline: 0;
  padding: 7px;
  box-shadow: 0 1px 0 #F8F8F8 inset;
  -webkit-box-shadow: 0 1px 0 #F8F8F8 inset;
  -moz-box-shadow: 0 1px 0 #F8F8F8 inset;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

input.attr2-level,
input.cost,
input.descriptives,
input.equip-name,
input.level,
input.level,
input.name,
input.time-duration,
select,
select.skill-difficulty,
select.skill-type {
  width: 100%; }

input.saveload-file {
  width: 100%; }

input.cost,
input.cost select,
input.cost textarea,
select {
  background-color: #e8eeef;
  color: #3F3D74;
  border: none;
  font-size: 14px;
  outline: 0;
  padding: 7px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0 1px 0 #F8F8F8 inset;
  -webkit-box-shadow: 0 1px 0 #F8F8F8 inset;
  -moz-box-shadow: 0 1px 0 #F8F8F8 inset; }

input:focus,
select:focus {
  background: #d2d9dd; }

input[type="button"],
input[type="submit"] {
  position: relative;
  display: block;
  padding: 19px 39px 18px;
  color: #FFF;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 14px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px; }

input[type="button"]:hover,
input[type="submit"]:hover {
  background: #109177; }

input:disabled {
  background-color: #DFE7E9; }

input.note {
  width: 100%;
  height: 30px;
  padding: 7px;
  color: #777777;
  border: 1px solid #e8eeef; }

input.total-gained-points {
  background-color: #d5e0e2;
  border-bottom: 1px solid;
  border-radius: 0; }

/*------------------------------------------------*/
/* MOBILE VERSION (PORTRAIT)                      */
/*------------------------------------------------*/
@media only screen and (max-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  input,
  select {
    height: 75px; }

  option {
    font-size: 0.4em; }

  input.attr2-level,
  input.default,
  input.descriptives,
  input.equip-name,
  input.level,
  input.name,
  input.time-duration,
  input.type {
    background: white;
    border: none;
    border-radius: 4px;
    margin: 0 5px 10px 0;
    outline: 0;
    padding: 7px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #3f3d74;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset; }

  input.equip-name,
  input.name {
    width: 90%; }

  input.level {
    width: 130px; }

  input.type {
    width: 120px; }

  input.default {
    width: 105px; }

  input.time {
    width: 74%;
    margin: 0 5px 10px 0; }

  input.descriptives {
    width: 100%; }

  input.attr2-level {
    width: 130px; }

  select.skill-difficulty {
    width: 44%;
    margin: 0 5px 10px 0; }

  select.skill-type {
    width: 30%; }

  select.spell-type {
    width: 74%;
    margin: 0 5px 10px 0; }

  input.time-duration {
    width: 64%;
    margin: 0 0 10px; }

  input.cost,
  input.cost select,
  input.cost textarea,
  select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    margin: 0 5px 10px 0;
    outline: 0;
    padding: 7px;
    width: 12%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #3F3D74;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset; }

  input:focus,
  select:focus {
    background: #d2d9dd; }

  input[type="button"],
  input[type="submit"] {
    position: relative;
    display: block;
    padding: 19px 39px 18px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px; }

  input[type="button"]:hover,
  input[type="submit"]:hover {
    background: #109177; }

  input:disabled {
    background-color: rgba(147, 175, 180, 0.3); }

  .plusminus,
  input.attr2-level,
  input.cost,
  input.descriptives,
  input.equip-name,
  input.level,
  input.name {
    font-size: 1.7em; }

  input[type="checkbox"] {
    display: none; } }
/*------------------------------------------------*/
/* PRINT VERSION                                  */
/*------------------------------------------------*/
@media print {
  input,
  select {
    background-color: #f4f4f4;
    color: #000;
    border-radius: 0;
    border: 1px solid #fff;
    /*border-bottom: 1px solid grey;*/ }

  input.attr2-level,
  input.default,
  input.descriptives,
  input.equip-name,
  input.level,
  input.name,
  input.time-duration,
  input.type {
    color: #000080;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
    margin: 0 5px 0 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 transparent inset;
    box-shadow: 0 0 0 transparent inset;
    background-color: white; }

  .cost select,
  .cost textarea,
  input.cost,
  select {
    color: #000080;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
    margin: 0 5px 0 0;
    padding: 0;
    outline: 0;
    width: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 transparent inset;
    box-shadow: 0 0 0 transparent inset;
    background-color: white; }

  select.spell-type {
    width: 100px;
    margin: 0;
    border-bottom: 0; }

  select.skill-type {
    width: 60px;
    margin: 0;
    border-bottom: 0; }

  select.skill-difficulty {
    width: 100px;
    margin: 0;
    border-bottom: 0; }

  input.time-duration {
    width: 80px; }

  ::-webkit-input-placeholder {
    color: transparent; }

  :-moz-placeholder {
    color: transparent; }

  ::-moz-placeholder {
    color: transparent; }

  :-ms-input-placeholder {
    color: transparent; }

  input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield; }

  input.note {
    color: #777777 !important;
    border: none; } }
ul {
  list-style-type: none; }

/*------------------------------------------------*/
/* MOBILE VERSION (PORTRAIT)                      */
/*------------------------------------------------*/
@media only screen and (max-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  ul {
    list-style-type: none; }

  li {
    margin: 0px 0px 30px 0px;
    border-bottom: 4px solid lightgrey; } }
/*------------------------------------------------*/
/* PRINT VERSION                                  */
/*------------------------------------------------*/
/*headings, special heading classes, different colors*/
body,
input,
a.tooltip,
div.tooltip-symbol,
.tooltip:hover:after {
  font-family: 'Open Sans', sans-serif, Georgia, "Times New Roman", Times, serif; }

/*# sourceMappingURL=main.css.map */


/*------------------------------------------------*/
/* PRINT VERSION QUICKFIXES                       */
/*------------------------------------------------*/

@media print {
  .headline {display: none}

  .row {
    margin-top: 0;
    margin-bottom: 0;
  }

  .attr2-name,
  .damage-name,
  .damage-formula,
  .skill-type,
  .skill-difficulty,
  .col-xs-1,
  .col-xs-2,
  .col-xs-3
   {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: auto !important;
  }
 
  select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	height: auto;
  }

  .attr-row > div,
  .attr2-row > div,
  .damage-row > div  {
    width: 150px
  }

  .skill-container .col-xs-2,
  .spell-container .col-xs-2 {
    width: auto;
  }

  .skill-container .skill-row,
  .spell-container .spell-row {
   border-bottom: 1px dotted #ccc !important;
  }

  #magical-aptitude-lvl {
    width: auto;
  }
}